<table>
  <thead>
    <tr>
        <th>Credit Card Number</th>
        <th>Card Holder</th>
        <th>Expiration Date</th>
        <th>Security Code</th>
        <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let record of (paymentRecords | async)">
      <td>{{ record.creditCardNumber }}</td>
      <td>{{ record.cardHolder }}</td>
      <td>{{ record.expirationDate | date }}</td>
      <td>{{ record.securityCode }}</td>
      <td>{{ record.amount }}</td>
    </tr>
  </tbody>
</table>
