<div class="row">
  <div class="col s12 m7 offset-m3 l6 offset-l3">
    <div class="card-panel">
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="row">

          <div class="input-field col s12">
            <input
              placeholder="1234 5678 9101 1121"
              id="card_number"
              type="text"
              formControlName="creditCardNumber"
              appCreditCardFormat>
            <label class="active" for="card_number">Credit Card Number</label>
            <span
              class="helper-text"
              *ngIf="paymentForm.get('creditCardNumber').invalid && paymentForm.get('creditCardNumber').touched">
              <span
              *ngIf="paymentForm.get('creditCardNumber').errors['required']">
              Credit card number is required.
              </span>
              <span
              *ngIf="paymentForm.get('creditCardNumber').errors['minlength']">
              Invalid format.
              </span>
            </span>
          </div>

          <div class="input-field col s12">
            <input
              placeholder="Ex. Noctis Lucis Caelum"
              id="card_holder"
              type="text"
              formControlName="cardHolder">
            <label class="active" for="card_holder">Card Holder</label>
            <span
            class="helper-text"
            *ngIf="paymentForm.get('cardHolder').invalid && paymentForm.get('cardHolder').touched">
            Card Holder is required.
            </span>
          </div>

          <div class="input-field col s3">
            <input
              placeholder="MM"
              id="card_holder"
              type="text"
              maxlength="2"
              formControlName="expirationMonth">
            <label class="active" >Expiration</label>
            <span
              class="helper-text"
              *ngIf="paymentForm.get('expirationMonth').invalid && paymentForm.get('expirationMonth').touched">
              <span
              *ngIf="paymentForm.get('expirationMonth').errors['required']">
              Month is required!
              </span>
              <span
              *ngIf="paymentForm.get('expirationMonth').errors['pattern']
              || paymentForm.get('expirationMonth').errors['monthExceeded']
              && !paymentForm.get('expirationMonth').errors['required']">
              Month must be a number between 01 and 12
              </span>
            </span>
          </div>

          <div class="input-field col s3">
            <input
              placeholder="YY"
              type="text"
              maxlength="2"
              formControlName="expirationYear">
            <span
              class="helper-text"
              *ngIf="paymentForm.get('expirationYear').invalid && paymentForm.get('expirationYear').touched">
              <span
              *ngIf="paymentForm.get('expirationYear').errors['required']">
              Year is required!
              </span>
              <span
              *ngIf="paymentForm.get('expirationYear').errors['pattern']">
              Year must be a number only.
              </span>
            </span>
          </div>

          <div class="input-field col s6">
            <input
              placeholder="CCV"
              id="security_code"
              type="text"
              maxlength="3"
              formControlName="securityCode">
            <label class="active" for="security_code">Security Code</label>
            <span
              class="helper-text"
              *ngIf="paymentForm.get('securityCode').invalid && paymentForm.get('securityCode').touched">
              <span
              *ngIf="paymentForm.get('securityCode').errors['required']">
              CCV is required!
              </span>
              <span
              *ngIf="paymentForm.get('securityCode').errors['pattern']">
              CCV must be a number only.
              </span>
              <span
              *ngIf="paymentForm.get('securityCode').errors['minlength']">
              CCV must be a 3 digits.
              </span>
            </span>
          </div>

          <div class="input-field col s12">
            <input
              placeholder="1000000"
              id="card_holder"
              type="number"
              formControlName="amount">
            <label class="active" for="card_holder">Amount</label>
            <span
              class="helper-text"
              *ngIf="paymentForm.get('amount').invalid && paymentForm.get('amount').touched">
              <span
              *ngIf="paymentForm.get('amount').errors['required']">
              Amount is required!
              </span>
              <span
              *ngIf="paymentForm.get('amount').errors['pattern']">
              Amount must be not negative or zero.
              </span>
            </span>
          </div>

          <div class="col s12 center">
            <button
              type="submit"
              class="btn"
              [disabled]="paymentForm.invalid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





