<div class="navbar-fixed">
  <nav id=nav class="z-depth-0">
    <div class="nav-wrapper container">
      <a class="brand-logo logo-padding">
        <h5><strong>FE TEST</strong></h5>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="mdi mdi-menu icon-black"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLinkActive="active" routerLink="records"><strong>Records</strong></a></li>
        <li><a routerLinkActive="active" routerLink="payment"><strong>Payment</strong></a></li>

      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a class="sidenav-close"><strong>Records</strong></a></li>
  <li><a class="sidenav-close"><strong>Payment</strong></a></li>
</ul>

